<div class="panel panel-default">
  <div class="panel-heading">
<p id="notice"><%= notice %></p>

<p class="panel-title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>
  </div>
<p class="panel-body">
  <strong>Body:</strong>
  <%= @post.body %>
</p>
  </div>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default"  %> |
<%= link_to 'Back', posts_path, class: "btn btn-default"  %>

